.form-search {
  width: 100%;
}
  .form-search button{
    margin-left: 5px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .no-items {
    color: #000;
  }

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  text-decoration: none;
  color: #000;
}
.item:hover{
  background-color:#f0f0f0;
}
.descr{
  flex-grow: 1;
}
h3{
  margin: 0;
}
p{
  margin: 0;
}
